export PATH=$PATH:~/.local/bin
#chmod u+s /usr/bin/Xorg  # Workaround until I figure out how to add DM
xrandr --output $(xrandr | grep "connected primary" | awk '{print $1}') --mode 1920x1080 -r 60

genwal